.footer {
	background-color: var(--font-clr);
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 210px;
	justify-content: flex-end;
	margin-top: 1em;
	width: 100%;
}

.footer a {
	display: block;
	margin: auto;
}

.footer img {
	width: 100%;
	max-width: 122px;
}

.footer p {
	color: var(--second-clr);
}
