.hero {
	background-image: url("../assets/coffee02.webp");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	position: relative;
	max-width: 1240px;
	max-height: 223px;
	margin: auto;
	aspect-ratio: 16/5;
}

.hero::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	background-color: black;
	opacity: 0.6;
}

.hero h1 {
	max-width: 190px;
	font-weight: bold;
	color: white;
	margin-left: 1em;
	position: relative;
}

@media only screen and (min-width: 767px) {
	.hero {
		aspect-ratio: 16/3;
		justify-content: center;
	}

	.hero h1 {
		max-width: 1200px;
		font-size: 48px;
	}
}